@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");

@import "tailwindcss";

* {
  transition: all 0.3s linear;
}

@theme {
  --font-bellefair: "Bellefair", serif;
  --font-barlow: "Barlow", sans-serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;

  --breakpoint-xs: 580px;
}

@layer components {
  #page.deactive {
    @apply overflow-hidden;
  }

  .nav-link.active {
    @apply xs:after:top-[2.9rem] xs:after:right-0 xs:after:w-full xs:after:h-[3.5px] xs:after:rounded-tr-full xs:after:rounded-bl-none after:absolute after:top-0 after:-right-8 after:h-full after:w-[4px] after:rounded-tl-full after:rounded-bl-full after:bg-white lg:after:top-[2.9rem];
  }

  #mobile-menu.active {
    @apply translate-x-[0%]!;
  }

  .destination-item.active {
    @apply font-[500] text-gray-50 after:absolute after:top-[1.9rem] after:right-0 after:h-[3.5px] after:w-full after:rounded-l-full after:rounded-r-full after:bg-gray-50;
  }

  .crew-item.active {
    @apply bg-gray-50!;
  }

  .technology-item.active {
    @apply bg-gray-50! text-gray-950!;
  }
}
